body{
    background-color:#FEE715FF;
    width: 1000px;
    margin: auto;
}
        
header{
    background-color:#101820FF;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0px;
    left:0px;
    right:0px;
    text-align:center;
    vertical-align: middle;
}

footer{
    
    background-color:#101820FF;
    height: 60px;
    width: 100%;
    position:fixed;
    bottom: 0px;
    left:0px;
    right:0px;
    text-align: center;
    vertical-align: middle;
    
}

h1{
    font-style: Arial;
    font-size: 35px;
    font-weight: bold;
    color:#CBCE91FF;
    margin-top: 20px;
    text-align: center;
}

h6{
    
    font-style: Arial;
    font-size: 20px;
    font-weight: bold;
    color:#CBCE91FF;
    margin-top: 5px;
    text-align: center;
}
